* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.header {
    background-color: #d1c8c8;
    color: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}


.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.card{
    color: rgb(118, 114, 114);
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;

}

.card img {
    width: 100%;
    height: 200px;
    object-fit: contain;
    margin-bottom: 10px;
}

.card p{
    font-size: medium;
    margin-bottom: 6px;
}